.container{
width: fit-content;
height: fit-content;
display: flex;
flex-wrap: wrap;
}
.box{
    height: 200px;
    width: 200px;
    border: solid black 1px;
    background-image: url(download.jpg);
    background-size: cover;
}
.item{
    background-image: url(images.jpg);
    background-size: cover;
}
body{
    background-color: black;
    
}
h1, h2, h3{
    color: white;
}